@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-6 text-center">
                    <h3 class="mb-3">Forgot password confirmation</h3>
                    <div class="mb-5">
                        An email has been sent to you. Please check your email to reset your password!
                    </div>

                    <hr class="my-2">
                    
                    <div class="form-group">
                        <p>
                            <a asp-page="./Login">Goto login page</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>