@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-6 text-center">
                    <h3 class="mb-3">Forgot your password?</h3>
                    <div class="mb-5">
                        Please enter your email, we will send an email to you to help you get your account back!
                    </div>

                    @foreach (var item in ViewContext.ViewData.ModelState)
                    {
                        if (item.Value.Errors.Any())
                        {
                            <div class="text-danger" style="padding-bottom: 20px;">
                                @(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))
                            </div>
                        }
                    }

                    <section>
                        <form id="account" method="post">

                            <div class="form-outline mb-4">
                                <input asp-for="Input.Email" type="text" class="form-control form-control-lg" placeholder="User name or email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Reset Password</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
